.flex {
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.justify-content {
  &--center{
    justify-content: center;
  }
  &--between{
    justify-content: space-between;
  }
  &--end{
    justify-content: end;
  }
  &--around{
    justify-content: space-around;
  }
  &--stretch{
    justify-content: stretch;
  }
}
.flex-direction{
  &--column{
    flex-direction: column;
  }
  &--reverse{
    flex-direction: column-reverse;
  }
  &--row{
    flex-direction: row;
  }
}
