@import '../../assets/sass/lib/variables';

.container-about-us{
  max-width: $maxWidth;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  article{
    p{
      font-size: 1.2em;
      text-align: center;
      line-height: 30px;
    }
    img{
      width: 100%;
    }
  }
}