.product-image{
  text-align: center;
  img{
    width: 80%;
  }
}
.price {
  text-decoration-line: unset;
  color: black;
  width: 100%;
  text-align: center;
}
.before-price{
  color: #929292;
  text-decoration-line: line-through;
}